<mat-card>
  <mat-card-title class="title">User Information</mat-card-title>
  <mat-card-content>
    <div class="row">
      <span class="mat-caption">Name: </span> <span class="mat-subtitle">Mnatsakan Manukyan</span>
    </div>
    <div class="row">
      <span class="mat-caption">YouTube, Twitter: </span> <span class="mat-subtitle">Mnatsakan</span>
    </div>
    <div class="row">
      <span class="mat-caption">Facebook: </span>
      <a href="https://www.facebook.com/mnacakan.manukyan.5"class="mat-subtitle">mnacakan</a>
    </div>
  </mat-card-content>
</mat-card>
